<mat-toolbar [ngClass]="top ? 'isTop' : 'notTop'" class="toolbar" color="accent">
  <div class="toolbar-container">
    <div class="vertical">
      <img class="icon" src="favicon.ico" />
    </div>
    <!-- TODO: Implement search -->
    <mat-form-field class="search">
      <mat-label>Search for clips (feature coming soon!)...</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>

</mat-toolbar>
<div class="preview-container">
  <div class="column-container">
    <app-clip-preview class="grow" *ngFor="let url of videoUrls" [videoUrl]="url.url" [videoDate]="url.date">
    </app-clip-preview>
  </div>
</div>
<router-outlet></router-outlet>
