<div class="preview-container">
  <video allowfullscreen controls width="640px" height="360px" *ngIf="videoUrl !== ''">
    <source [src]="videoUrl | safeUrl" type="video/mp4">
  </video>
  <span class="title">{{title}}</span>
  <div class="card-content">
    <div class="timestamp">
      <div class="vertical-center clock-container">
        <mat-icon class="clock">schedule</mat-icon>
      </div>
      <span *ngIf="ago !== ''" class="days vertical-center">
        {{ago}}
      </span>
    </div>
    <span class="copy-link">
      <button matTooltip="Copy Link" (click)="copyLink()" matTooltipPosition="above" mat-stroked-button color="accent">
        <mat-icon>content_copy</mat-icon>
      </button>
    </span>
  </div>
</div>
